.signOutButton {
    transition: box-shadow 0.5s ease;
    position: fixed;
    border-radius: 2.5vw;
    left: 4%;
    top: 5%;
    width: 5%;
    height: 5vw;
    background-color: rgba(41,182,246 ,1);
    box-shadow: 0.05vw 0.05vw 0.3vw rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signOutButton p {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;;
    font-size: 1vw;
    margin: 0 auto;
    color: rgba(255,255,255,0.8);

}

.signOutButton div {
    width: 60%;
    height: 60%;
    background: url("/assets/img/baseline-exit_to_app-24px.svg") no-repeat center / contain;
}

.signOutButton:hover {
    transition: box-shadow 0.5s ease;
    box-shadow: 0.2vw 0.2vw 0.6vw rgba(0,0,0,0.3);
    cursor: pointer;
}